.DS_Store
/config/.DS_Store
/config/dev.js

/client/.DS_STORE
/client/.env.development

node_modules
/client/node_modules
scripts/flow/*/.flowconfig

.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

.env*.local
/client/.env